*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
h1{
	padding-bottom: 25px;
	color: #000;
}
h2{
	padding-bottom: 25px;
	color: #000;
}
p{
	padding-bottom: 25px;
}
body{
	font-family: 'Quicksand', sans-serif;
	background: url(images/background.jpg);
	background-size: 100%;
}
header{
	width: 100%;
	background-color: rgba(0,0,0,0.5); 
	display: flex;
}
.header_logo{
	text-transform: uppercase;
	color:#fff;
	font-weight: 800;
	font-size:24px;
	cursor: pointer;
	margin-top: 34px;
	margin-left: 12%;
}
nav{
	margin-top: 34px;
	margin-left: 40%;
}
.topnav a{
	color: #fff;
	text-align: center;
	padding: 12px 16px;
	font-size: 16px;
	font-weight: bold;
}
.topnav a:hover{
	border-bottom: 3px solid #fed45f;
}
.topnav .icon{
	display: none;
}
main{
	display: flex;
	flex-direction: column;
	width: 100%;
	background: rgba(0,0,0,0.5);
}
main .main_welcome{
	text-align: center;
	padding: 200px 0 195px 0;
}
main .main_welcome p{
	color: #fff;
	font-size: 16px;
	padding-bottom: 200px;
}
main .main_welcome h1{
	color: #fff;
	font-size: 24px;
}
main .wrapper{
	background-color: rgb(255,255,255);
}
.wrapper{
	margin:0 auto;
}
main .main_about{
	display:flex;
	width: 75%;
	margin-left: 20%;
	padding: 100px 0 100px 0;
}
.about_left{
	width: 40%;
}
.about_left p{
	margin: 30px 0 50px 0;
	color: #6c6c6c;	
}
.about_left h2{
	display: inline-block;
	font-size: 20px;
}
.about_right{
	margin-left: 20%;
}
.main_about_details{
	padding: 80px 0 65px 0;
	background: #f3f3f3;
	display: :flex;
	color: #8d8e8e;
}
.about_top{
	flex-direction: column;
	text-align: center;
}
.about_top p{
	padding-bottom: 40px;
}
.details_button{
	margin: 0px auto;
	padding-bottom: 30px;
}
.details_button img{
	margin: 15px;
}
.about_bottom{
	display: flex;
	width: 75%;
	margin-left: 10%;
}
.about_bottom h2{
	font-size: 20px;
	margin-bottom: 15px;
}
.about_bottom p{
	font-size: 14px;
}
.right_side{
	margin-left: 20%;
	margin-top: 35px; 
}
.main_featured{
	padding-top: 80px;
	background: #fff;
	color: #8d8e8e;
}
.featured_top{
	flex-direction: column;
	text-align: center;
}
.featured_top p{
	padding-bottom: 40px;
}
.featured_bottom{
	text-align: center;
}
.featured_footer{
	display: flex;
	background: url(images/featured/footer.png);
	height: 110px;
	color: #fff;
}
.featured_footer p{
	padding-top: 50px;
	padding-left: 10%;
}
.featured_footer a{
	padding-top: 40px;
	padding-left: 40%;
}
.main_services{
	padding: 80px 0 0 0;
	background: #fff;
	color: #8d8e8e;
}
.services_top{
	flex-direction: column;
	text-align: center;
	margin:0 10% 0 10%; 
}
.services_title p{
	padding-bottom: 20px;
}
.services_information{
	display: grid;
	grid-template-columns: auto auto auto;
	margin: 20px auto;
}
.services_menu{
	display: grid;
	grid-template-columns: auto;
	margin: 20px auto;
}
.services_menu img{
	margin: 15px 0 15px 0;
}
.services_description{
	width:60%;
	margin: 30px 0px 0 50px;
}
.services_description h2{
	padding-bottom: 15px;
}
.services_description p{
	padding: 20px 0 20px 0;
}
.services_values{
	margin: 90px 70px 0 0;
}
.services_bottom{
	padding: 80px 8% 0 8%;
	background: url(images/services/services_background.png) no-repeat;
	background-size: 100%;
	display: grid;
	grid-template-columns: auto auto;
}
.services_bottom h2{
	font-size: 20px;
	color: #8d8e8e;
}
.services_left span{
	color: #1aa687;
}
.services_right{
	display: flex;
    margin-top: -210px;
}
.main_portfolio{
	padding-top: 80px;
	flex-direction: column;
	text-align: center;
	background: #fff;
}
.portfolio_title{
	margin: 0 20% 0 20%;
}
.portfolio_title p {
	padding-bottom: 60px;
}
.portfolio_menu{
	margin-bottom: 40px;
}
.portfolio_menu a{
	text-align: center;
	padding: 12px 16px;
	font-size: 16px;
	font-weight: bold;
	color: #8d8e8e;
}
.portfolio_menu a:hover{
	border-bottom: 3px solid #fed45f;
}
.portfolio_work{
	margin: 10px 15%;
	text-align: center;
	display: grid;
	grid-template-columns: auto auto auto auto; 
}
.portfolio_work img{
	margin: 10px;
}


@media only screen and(max-width: 1024px){
	nav{
	margin-top: 34px;
	margin-left: 15%;
	}
}


